@media (min-width: 1200px) {
    .navbar-nav{
        margin-right: 0 !important;
        font-size: 24px;
        li{
            margin-right: 15px;
            
        }
       
    }
    .navbar-text{
        position: absolute;
        left: 60px;
    }
    
}
.contact-form{
    margin-right: 298px;
    .details-section{
        border-right:16px solid #fff;
    }
}